html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}


.grid-container{
  max-width: 1400px; 
  margin: auto;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 80px;
  color: #333333;
}


.hero-section-container{
  background-color: yellow;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sneakers-image-container{
}

.latest-drop-container{
  background-color: aqua;
}

.item-name{
  background-color: blanchedalmond;
}

.btn-container{
  background-color: blue;
}

.hero-banner-image{
  width: 500px;
  height: 500px;
}

.desc{
  background-color: red;
}

.left-section{
  padding: 10px;
  background-color: #FCA311;
}


.navbar-container{
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}

.logo{
  color: gray;
  font-size: 18px;

}

.cart-icon{
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}

.cart-icon:hover{
  transform: scale(1.1,1.1);
}
.cart-item-qty{
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #FCA311;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}
.footer-container{
  color: #FCA311;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;

}

.footer-container .icons{
  font-size: 30px;
  display: flex;
  gap: 10px;
}

@media  screen and (max-width: 1000px) {
  .hero-section-container{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    background-color: rebeccapurple;
  }
}