@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;1,200;1,300&family=Press+Start+2P&family=Quicksand:wght@300;400;500;600&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400&display=swap');

html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, 'Pokemon Solid';
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 80px;
  color: #333333;
}

.layout{
  padding: 12px;
  background-color: #FFFCF9; 
}

/* Navbar section start */
.navbar-container{
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}

.logo{
  color: gray;
  font-size: 18px;                         
}

.shoe-store-logo-text{
  font-family: 'Encode Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #26547C;
}

.cart-icon{
  font-size: 25px;
  color: #FFD166;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}

.cart-icon:hover{
  transform: scale(1.1,1.1);
}
.cart-item-qty{
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #06D6A0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}

/* Navbar sectiong ending*/

/* Hero section */
.grid-container{
  max-width: 1400px; 
  margin: auto;
  width: 100%;
  background-color: #FFD166;
  padding: 20px;
  border-radius: 30px;
}

.buy-now-btn, .button-container button{
  border-radius: 15px;
  border-color: #06D6A0;
  border-width: 5px;
  padding: 5px 10px;
  background-color: #FFFCF9;
  color: #06D6A0;
  border: none;
  margin-top: 16px;
  font-size: 12px;
  font-weight: 200;
  cursor: pointer;
  z-index:10000 !important;
}

.buy-now-btn:hover{
  background-color: #06D6A0;
  color: #FFFCF9;
}

.latest-drop-text{
  font-size: 70px;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 400;
  color: #26547C;
}

.hero-section-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-section-container button {
  font-family: 'Encode Sans', sans-serif;
  font-size: 16px;
}

.hero-section-container p, .hero-section-container h5 {
  font-family: 'Encode Sans', sans-serif;
}

.item-name, .desc, .btn-container, .item-name{
  padding: 5px;
}

.item-name p {
  color: #26547C;
}

.desc h5 {
  color: #26547C;
}

.hero-banner-image{
  width: 475px;
  height: 475px;
  object-fit: contain;
}
/* Hero section ending */

/* product section start */
.product-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
  padding: 20px;
}

.product-container-title{
  font-size: 35px;
  font-family: 'Encode Sans', sans-serif;
  color: #26547C;
}

.product-info-container{
  display: flex;
  justify-content: space-around;
  padding: 12px;
  align-items: center;
}

.product-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 63px;
}

.product-card{
  background-color: #FFD166;
  border-radius: 10px;
  max-width: 334px;
  height: 365px;
  margin: 24px;
  transition: all 250ms ease-in-out;
}

.product-card:hover{
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}
.product-card p {
  font-size: 14px;
  font-family: 'Encode Sans', sans-serif;
  color: #26547C;
}

/* product section ending */

/*Slug section */
.product-detail-image{
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.product-detail-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.main-product-wrapper{
  max-width: 1400px; 
  margin: auto;
  width: 100%;
  background-color: #FFD166;
  padding: 20px;
  border-radius: 30px;
}
.detail-specs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-specs h2, .detail-specs p{
  font-size: 14px;
  font-family: 'Encode Sans', sans-serif;
  line-height: 30px;
  color: #26547C;
}

.detail-specs h2 {
  font-size: 22px;
  color: #26547C;
}

.detail-specs p {
  font-size: 14px;
  color: #26547C;
}

.details-container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-products-container{
  display: flex;
  border-radius: 6px;
  background: #FFFCF9;
  padding: 1rem;
  overflow-x: auto;
  position: relative;
}

.featured-products-container::-webkit-scrollbar{
    background-color: #F4F4F9;
    height: 11px;
    overflow: auto;
}

.featured-products-container::-webkit-scrollbar-thumb{
  background-color: #FFD166;
  width: 1px;
}

.featured-products::-webkit-scrollbar-track-piece{
  background-color: rebeccapurple;
}

.featured-products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.featured-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.featured-title-container h3 {
  font-size: 26px;
  font-family: 'Encode Sans', sans-serif;
  color: #26547C;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buy-now:hover{
  background-color: #06D6A0;
  color: #F4F4F9;
}

/*Slug end section */

/* cart component */

.cart-wrapper{
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.cart-container{
  height: 100vh;
  width: 600px;
  background-color: #FFFCF9;
  float: right;
  padding: 40px 10px;
  position: relative;
}
 
.cart-product-container{
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
  background-color: #FFD166;
  border-radius: 30px;
}

.cart-product-image{
  width: 200px;
  height: 200px;
}

.cart-product{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.qty-container{
  display: flex;
  width: 100px;
  justify-content: space-evenly;
}

.qty-container span{
  font-size: 22px;
}

.item-desc{
  max-width: 100px;
}

.total-price-container{
  display: flex;
  justify-content: center;
  margin: 15px;
}
/*End of cart component */


/* footer section start */

.footer-container{
  max-width: 1400px; 
  margin: auto;
  width: 100%;
  background-color: #FFD166;
  padding: 20px;
  border-radius: 30px;
  margin-top: 150px;
  margin-bottom: 150px;
  color: #26547C;
}

.map-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.store-hours-container{
  padding: 30px;
  line-height: 30px;
}

/* footer section end */




/* All media queries */

@media  screen and (max-width: 1000px) {
  .hero-section-container{
    flex-direction: column;
  }
  .latest-drop-text{
    font-size: 60px;
  }
  .hero-section-container p {
    font-size: 16px;
  }
  .hero-section-container h5{
    font-size: 14px;
  }
  .hero-section-container button {
    font-size: 12px;
  }

  .hero-banner-image{
    width: 325px;
    height: 325px;
    object-fit: contain;
    }
    .btn-container{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px;
    }
    .desc {
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .item-name{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* .product-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } */

    .product-container-title{
      font-size: 30px;
      color: #CEBACF;
    }

    .product-card{
      border-radius: 10px;
      margin-bottom: 14px;
    }
    .product-detail-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .image-container{
      margin: 16px;
    }
    .map-container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .cart-container{
      width: 400px;
    }
}

/* .fade-in {
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
  -moz-animation: fadeIn ease 6s;
  -o-animation: fadeIn ease 6s;
  -ms-animation: fadeIn ease 6s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} */
