@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;1,200;1,300&family=Press+Start+2P&family=Quicksand:wght@300;400;500;600&family=Roboto:wght@500;700&display=swap');

html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, 'Pokemon Solid';
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 80px;
  color: #333333;
}

/* Navbar section start */
.navbar-container{
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}

.logo{
  color: gray;
  font-size: 18px;                         
}

.shoe-store-logo-text{
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

.cart-icon{
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}

.cart-icon:hover{
  transform: scale(1.1,1.1);
}
.cart-item-qty{
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}

/* Navbar sectiong ending*/

/* Hero section */
.grid-container{
  max-width: 1400px; 
  margin: auto;
  width: 100%;
  background-color: #dcdcdc;
  padding: 20px;
  border-radius: 30px;
}

.buy-now-btn{
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index:10000 !important;
}

.latest-drop-text{
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
}

.hero-section-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-section-container button {
  font-family: 'Press Start 2P', cursive; 
}

.hero-section-container p, .hero-section-container h5 {
  font-family: 'Press Start 2P', cursive; 
}

.item-name, .desc, .btn-container, .item-name{
  padding: 5px;
}

.hero-banner-image{
  width: 500px;
  height: 500px;
  object-fit: contain;
}
/* Hero section ending */

/* product section start */
.product-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
  padding: 20px;
}

.product-container-title{
  font-size: 24px;
  font-family: 'Press Start 2P', cursive;
}

.product-info-container{
  display: flex;
  justify-content: space-around;
  padding: 12px;
  align-items: center;
}

.product-container{
  display: flex;
  justify-content: space-around;
}

.product-card{
  background-color: #dcdcdc;
  border-radius: 10px;
  max-width: 334px;
  height: 365px;
  margin: 24px;
}
.product-card p {
  font-size: 12px;
  
}

/* product section ending */

/*Slug section */
.product-detail-image{
  width: 375px;
  height: 375px;
}
.product-detail-container{
  background-color: #f02d34;
}
.detail-specs{
  background-color: aliceblue;
}

.detail-specs h2, .detail-specs p{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}




























/*Slug end section */


/* footer section start */

/* .footer-container{
  color: #FCA311;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;

} */
/* 
.footer-container .icons{
  font-size: 30px;
  display: flex;
  gap: 10px;
} */

/* footer section end */




/* All media queries */

@media  screen and (max-width: 1000px) {
  .hero-section-container{
    flex-direction: column;
  }
  .latest-drop-text{
    font-size: 30px;
  }
  .hero-section-container p {
    font-size: 10px;
  }
  .hero-section-container h5{
    font-size: 10px;
  }
  .hero-section-container button {
    font-size: 10px;
  }

  .hero-banner-image{
    width: 325px;
    height: 325px;
    object-fit: contain;
    }
    .btn-container{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px;
    }
    .desc {
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .item-name{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .product-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .product-container-title{
      font-size: 16px;
      font-family: 'Press Start 2P', cursive;
    }

    .product-card{
      border-radius: 10px;
      margin-bottom: 14px;
    }
}